<h1>{{vm.title}}</h1>


<form name="vm.jobAddForm" ng-submit="vm.saveJob()">
    <div class="form-group">
        <label for="titleInput">Job title</label>
        <input type="text" class="form-control" id="titleInput" name="title" ng-model="vm.newJob.title" required>
    </div>
    <div class="form-group">
        <label for="salaryInput">Salary (at least 1000)</label>
        <input type="text" class="form-control" id="salaryInput" name="salary" ng-model="vm.newJob.salary" pattern="[0-9]{4,10}">
        <span class="text-warning" ng-if="vm.err">{{vm.err}}</span>
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description</label>
        <input type="text" class="form-control" id="descriptionInput" name="description" ng-model="vm.newJob.description">
    </div>
    <div class="form-group">
        <label for="experienceInput">Experience</label>
        <input type="text" class="form-control" id="experienceInput" name="experience" ng-model="vm.newJob.experience">
    </div>
    <div class="form-group">
        <label for="skillInput">Skill (comma separated)</label>
        <input type="text" class="form-control" id="skillInput" name="skills" ng-model="vm.newJob.skills">
    </div>
    <div class="form-group mt-2 row">
        <label>Location</label>
        <div class="col col-3">
            <input type="text" class="form-control" name="street" ng-model="vm.newJob.location.street" placeholder="Street">
        </div>
        <div class="col col-3">
            <input type="text" class="form-control" name="city" ng-model="vm.newJob.location.city" placeholder="City">
        </div>
        <div class="col col-3">
            <input type="text" class="form-control" name="state" ng-model="vm.newJob.location.state" placeholder="State">
        </div>
        <div class="col col-3">
            <input type="text" class="form-control" name="zip" ng-model="vm.newJob.location.zip" placeholder="Zip">
        </div>
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary">Save job</button>
    </div>
</form>

