<h1>{{vm.title}}</h1>


<form ng-submit="vm.search()">
    <div class="row">
        <div class="col">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" ng-model="vm.input" placeholder="Search jobs">
            </div>
        </div>
        <div class="col col-3">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
            <button type="button" class="btn btn-primary mb-2" ng-click="vm.toAddJob()">Add</button>
        </div>
    </div>
</form>
<ul>
    <li class="list-group-item" ng-repeat="job in vm.jobs">
        <a href="#!/job-detail/{{job._id}}" class="text-decoration-none">
            {{job.title}}
        </a>
        <div class="col col-12 mx-0">

        <button type="button" class="btn btn-warning btn-sm" ng-click="vm.update(job._id)">update</button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="vm.delete(job._id)">delete</button>
        </div>
    </li>
</ul>


