<h1>{{vm.job.title}}</h1>

<div>
    <p>Salary: {{vm.job.salary | number}}&dollar;</p>
    <p>Description: {{vm.job.description}}</p>
    <p>Experience: {{vm.job.experience}}</p>
    <p>Post date: {{vm.job.postDate | date: "MM-dd-yyyy hh:mm"}}</p>
    <p>Skills: {{vm.job.skills}}</p>
    <div class="container-fluid">
        <p class="text-success">Location</p>
        <p>Street: {{vm.job.location.street}}</p>
        <p>City: {{vm.job.location.city}}</p>
        <p>State: {{vm.job.location.state}}</p>
        <p>Zip: {{vm.job.location.zip}}</p>
    </div>

</div>